ShipLinx/docs/ws/ShiplinxWSClient/src/main/resources/ws/datatypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema version="1.0" targetNamespace="http://www.proxy.ws.shiplinx.meritconinc.com/datatypes"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns="http://www.proxy.ws.shiplinx.meritconinc.com/datatypes"
		elementFormDefault="unqualified" attributeFormDefault="unqualified">

  <xsd:complexType name="OrderWSType">
    <xsd:sequence>
    	<xsd:element name="BilledWeight" type="xsd:double"
    		minOccurs="0" />
    	<xsd:element name="CarrierId" type="xsd:int" minOccurs="0" />
    	<xsd:element name="Charges" type="ChargesWSType" nillable="true" minOccurs="0" maxOccurs="1" />
    	<xsd:element name="Accessorial" type="AccessorialWSType"
    		minOccurs="0" />
    	<xsd:element name="Currency" type="xsd:string" minOccurs="0" />
    	<xsd:element name="DutiableAmount" type="xsd:double"
    		minOccurs="0" />
    	<xsd:element name="FromAddress" type="AddressWSType"
    		minOccurs="1" maxOccurs="1" />
    	<xsd:element name="ToAddress" type="AddressWSType"
    		minOccurs="0" />
    	<xsd:element name="TrackingNumber" type="xsd:string"
    		minOccurs="0" />

    	<xsd:element name="OrderNumber" type="xsd:string" minOccurs="0" />

    	<xsd:element name="PackageType" minOccurs="1">
    		<xsd:simpleType>
    			<xsd:annotation>
    				<xsd:documentation>
    					Package Type - Envelope (ENV);Pack
    					(PACK);Package (PACKAGE);Pallet (PALLET)
    				</xsd:documentation>
    			</xsd:annotation>
    			<xsd:restriction base="xsd:string">
    				<xsd:enumeration value="ENV" />
    				<xsd:enumeration value="PACK" />
    				<xsd:enumeration value="PACKAGE" />
    				<xsd:enumeration value="PALLET" />
    				<xsd:maxLength value="7"></xsd:maxLength>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:element>

    	<xsd:element name="Packages" type="PackagesWSType" nillable="true" minOccurs="1" maxOccurs="1" />
    	<xsd:element name="References" type="xsd:string" minOccurs="0"
    		maxOccurs="3" />
    	<xsd:element name="RequiredDeliveryDate" type="xsd:date"
    		maxOccurs="1" minOccurs="0">
    	</xsd:element>
    	<xsd:element name="ScheduledShipDate" type="xsd:dateTime"
    		minOccurs="1" maxOccurs="1" />
    	<xsd:element name="Service" type="ServiceWSType" minOccurs="0"
    		maxOccurs="1" />
    	<xsd:element name="Pickup" type="PickupWSType" maxOccurs="1" minOccurs="0"></xsd:element>
    	<xsd:element name="POD" type="PODWSType" maxOccurs="1"
    		minOccurs="0">
    	</xsd:element>
		<xsd:element name="ShippingLabel" type="xsd:hexBinary" minOccurs="0" maxOccurs="1" />    	
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ChargeWSType">
    <xsd:sequence>
      <xsd:element name="Charge" type="xsd:double" minOccurs="0" />
      <xsd:element name="ChargeCode" type="xsd:string" minOccurs="0" />
      <xsd:element name="ChargeCodeLevel2" type="xsd:string" minOccurs="0" />
      <xsd:element name="Currency" type="xsd:string" minOccurs="0" />
      <xsd:element name="Name" type="xsd:string" minOccurs="0" />
      <xsd:element name="TariffRate" type="xsd:double" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AddressWSType">
    <xsd:sequence>
    	<xsd:element name="CompanyName" type="xsd:string" minOccurs="0" />
    	<xsd:element name="Address1" type="xsd:string" minOccurs="0" />
    	<xsd:element name="Address2" type="xsd:string" minOccurs="0" />
    	<xsd:element name="City" type="xsd:string" minOccurs="0" />
    	<xsd:element name="ContactName" type="xsd:string" minOccurs="0" />
    	<xsd:element name="CountryCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    	<xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" />
    	<xsd:element name="FaxNo" type="xsd:string" minOccurs="0" />
    	<xsd:element name="MobilePhoneNo" type="xsd:string" minOccurs="0" />
    	<xsd:element name="PhoneNo" type="xsd:string" minOccurs="0" />
    	<xsd:element name="PostalCode" type="xsd:string" minOccurs="0" />
    	<xsd:element name="ProvinceCode" type="xsd:string" minOccurs="0" />
    	<xsd:element name="IsRes" type="xsd:boolean" minOccurs="0" />
    	<xsd:element name="Instructions" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PackageWSType">
    <xsd:sequence>
    	<xsd:element name="CODAmount" type="xsd:decimal" minOccurs="0" />
    	<xsd:element name="Description" type="xsd:string" minOccurs="0" />
    	<xsd:element name="FreightClass" type="xsd:string"
    		minOccurs="0" />
    	<xsd:element name="Height" type="xsd:decimal" minOccurs="0" />
    	<xsd:element name="Length" type="xsd:decimal" minOccurs="0" />
    	<xsd:element name="Width" type="xsd:decimal" minOccurs="0" />
    	<xsd:element name="InsuranceAmount" type="xsd:decimal"
    		minOccurs="0" />
    	<xsd:element name="TrackingNumber" type="xsd:string"
    		minOccurs="0" />
    	<xsd:element name="Type" type="xsd:string" minOccurs="0" />
    	<xsd:element name="Weight" type="xsd:decimal" minOccurs="0" />
    	<xsd:element name="WeightUOM" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ServiceWSType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" minOccurs="0" />
      <xsd:element name="Description" type="xsd:string" minOccurs="0" />
      <xsd:element name="Name" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SecurityWSType">
    <xsd:sequence>
    	<xsd:element name="TransactionID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
    	<xsd:element name="APIUserName" type="xsd:string" minOccurs="0" />
    	<xsd:element name="APIUserPassword" type="xsd:string"
    		minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="RatingWSType">
    <xsd:sequence>
      <xsd:element name="BillWeight" type="xsd:double" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="CarrierName" type="xsd:string" minOccurs="0" />
      <xsd:element name="Charges" type="ChargesWSType" nillable="true" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Currency" type="xsd:string" minOccurs="0" />
      <xsd:element name="ModeTransport" type="xsd:string" minOccurs="0" />
      <xsd:element name="Service" type="ServiceWSType" maxOccurs="1" minOccurs="1" />
      <xsd:element name="TariffRate" type="xsd:double" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Total" type="xsd:double" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="TransitDays" type="xsd:int" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="CODWSType">
  	<xsd:sequence>
  		<xsd:element name="PayableTo" type="xsd:string" minOccurs="0" />
  		<xsd:element name="Currency" type="xsd:string" minOccurs="0" />
    	<xsd:element name="PaymentType" minOccurs="1">
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:documentation>
						COD Payment Type - Cash (CA);Money Order (MO);Check (CH)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CA" />
					<xsd:enumeration value="MO" />
					<xsd:enumeration value="CH" />
					<xsd:maxLength value="2"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
  	</xsd:sequence>
  </xsd:complexType>



  <xsd:complexType name="AccessorialWSType">
  	<xsd:sequence>
  		<xsd:element name="SaturdayDelivery" type="xsd:boolean"
  			minOccurs="0" />
  		<xsd:element name="HoldForPickupRequired" type="xsd:boolean"
  			minOccurs="0" />
  		<xsd:element name="SaturdayPickup" type="xsd:boolean"
  			minOccurs="0" />
  		<xsd:element name="COD" type="CODWSType" maxOccurs="1"
  			minOccurs="0">
  		</xsd:element>
  		<xsd:element name="NotifyRecipient" type="xsd:boolean"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="ConfirmDelivery" type="xsd:boolean"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="DangerousGoods" minOccurs="0"
  			maxOccurs="1">
  			<xsd:simpleType>
  				<xsd:annotation>
  					<xsd:documentation>
  						Dangerous Goods - Yes (YES);Some (SOME);None
  						(NONE)
  					</xsd:documentation>
  				</xsd:annotation>
  				<xsd:restriction base="xsd:string">
  					<xsd:enumeration value="YES" />
  					<xsd:enumeration value="SOME" />
  					<xsd:enumeration value="NONE" />
  					<xsd:maxLength value="4"></xsd:maxLength>
  				</xsd:restriction>
  			</xsd:simpleType>
  		</xsd:element>
  		<xsd:element name="HoldForPickup" type="xsd:boolean"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="DeliveryTailgate" type="xsd:boolean"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="PickupTailgate" type="xsd:boolean"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="InsideDelivery" type="xsd:boolean"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="SignatureRequired" minOccurs="0"
  			maxOccurs="1">
  			<xsd:simpleType>
  				<xsd:annotation>
  					<xsd:documentation>
  						Signature Required - Yes (YES);No (NO);Adult
  						(ADULT)
  					</xsd:documentation>
  				</xsd:annotation>
  				<xsd:restriction base="xsd:string">
  					<xsd:enumeration value="YES" />
  					<xsd:enumeration value="NO" />
  					<xsd:enumeration value="ADULT" />
  					<xsd:maxLength value="5"></xsd:maxLength>
  				</xsd:restriction>
  			</xsd:simpleType>
  		</xsd:element>
  		<xsd:element name="SpecialEquipment" type="xsd:boolean" maxOccurs="1" minOccurs="0"></xsd:element>
  	</xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PODWSType">
  	<xsd:sequence>
  		<xsd:element name="DeliveryDateTime" type="xsd:dateTime"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="Receiver" type="xsd:string" maxOccurs="1"
  			minOccurs="0">
  		</xsd:element>
  		<xsd:element name="Signature" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
  	</xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PickupWSType">
  	<xsd:sequence>
  		<xsd:element name="ReadyTime" type="xsd:duration"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="CloseTime" type="xsd:duration"
  			maxOccurs="1" minOccurs="0">
  		</xsd:element>
  		<xsd:element name="Location" type="xsd:string" maxOccurs="1"
  			minOccurs="0">
  		</xsd:element>
  		<xsd:element name="Reference" type="xsd:string" maxOccurs="1"
  			minOccurs="0">
  		</xsd:element>
  		<xsd:element name="Instructions" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
  	</xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="ErrorWSType">
  	<xsd:sequence>
		<xsd:element name="Code" minOccurs="1">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4"></xsd:maxLength>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>  		
  		<xsd:element name="Description" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
  	</xsd:sequence>
  </xsd:complexType>

  <xsd:element name="RatingErrors" type="ErrorsWSType"></xsd:element>
  <xsd:element name="ShippingErrors" type="ErrorsWSType"></xsd:element>



  <xsd:complexType name="PackagesWSType">
  	<xsd:sequence>
  		<xsd:element name="Package" type="PackageWSType" nillable="true" minOccurs="1" maxOccurs="unbounded" />
  	</xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ChargesWSType">
  	<xsd:sequence>
  		<xsd:element name="Charge" type="ChargeWSType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
  	</xsd:sequence>
  </xsd:complexType>  
  
  <xsd:complexType name="RatingsWSType">
  	<xsd:sequence>
  		<xsd:element name="Rating" type="RatingWSType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
  	</xsd:sequence>
  </xsd:complexType>  
  
  <xsd:complexType name="ErrorsWSType">
  	<xsd:sequence>
  		<xsd:element name="Error" type="ErrorWSType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
  	</xsd:sequence>
  </xsd:complexType> 
  
</xsd:schema>

